<!-- Container (About Section) -->
<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2>ABOUT CariBerita</h2><br>
            <h4>CariBerita adalah website untuk mencari berita dengan menggunakan keyword yang diinginkan oleh pengguna.</h4><br>
            <p>CariBerita dikembangkan dengan bahasa C# dan berjalan pada framework .NET. Proses pencarian menggunakan tiga jenis metode, pertama menggunakan algoritma KMP (Knuth-Morris-Pratt), kedua menggunakan algortima BM (Boyer-Moore), ketiga menggunakan pencocokan Regex</p>
        </div>
    </div>
</div>
<br />

<!-- Container (Portfolio Section) -->
<div id="portfolio" class="container-fluid text-center bg-grey">
    <h2>THE TEAM</h2><br>
    <h4>Who we are</h4>
    <div class="row text-center slideanim">
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="~/img/Farhan.jpg" alt="Farhan" width="400" height="300">
                <p><strong>Farhan Makarim</strong></p>
                <p>13515003</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="~/img/Aidin.png" alt="Aidin" width="400" height="300">
                <p><strong>Ahmad Aidin</strong></p>
                <p>13513020</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="~/img/Paulus.jpg" alt="Paulus" width="400" height="300">
                <p><strong>Paulus Berliz</strong></p>
                <p>13513014</p>
            </div>
        </div>
    </div><br>
  </div>
